<p>... you should create an account</p>

<form [formGroup]="form" (ngSubmit)="onRegister()">
  <div class="form-control">
    <label
      >Username<br />
      <input
        type="text"
        formControlName="userName"
        placeholder="Votre nom..."
      />
    </label>
  </div>

  <div class="form-control">
    <label>
        Password<br/>
        <input type="password" formControlName="password" placeholder="Password"/>
    </label>
  </div>
  <button [disabled]="form.invalid">Envoyer</button>
</form>