<p>... you should create an account</p>

<form [formGroup]="form" (ngSubmit)="sendData()">
  <div class="form-control">
    <label
      >Username<br />
      <input
        type="text"
        formControlName="userName"
        placeholder="Votre nom..."
      />
    </label>
    @if(userName.touched && userName.errors) {
      @if(userName.touched &&
    userName.errors['required']) {
    <p>Vous devez saisir un nom d'utilisateur</p>
    } @if(userName.touched && userName.errors['minlength']) {
    <p>Votre nom d'utilisateur doit comporter au moins 4 caractères</p>
    } }
  </div>

  <div class="form-control">
    <label>
        Password<br/>
        <input type="password" formControlName="password" placeholder="Password"/>
    </label>
    @if(password.touched && password.errors) {
        <p>Vous avez saisi un mot de passe invalid, celui-ci doit contenir un minimum de 6 charactères.</p>
    }
  </div>
  <button [disabled]="form.invalid">Envoyer</button>
  <!-- <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div> -->
</form>