<p>... you must be identified</p>

<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="form-control">
    <label>
      Username<br />
      <input type="text" formControlName="userName" />
    </label>
  </div>
  <div class="form-control">
    <label>
      Mot de passe<br />
      <input type="password" formControlName="password" />
    </label>
  </div>

  <button [disabled]="loginForm.invalid">Connexion</button>
  @if(errorMessage) {
  <div>{{ errorMessage }}</div>
  }
</form>